.main-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider_wrapper {
  margin-top: 90px;
}

.navbar {
  background-color: white !important;
}

// .cover-image {
//   width: 100%;
//   height: 100%;
//   background-size: cover;
//   background-position: center;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// /* Additional styling for content within the cover image */
// .cover-content {
//   text-align: center;
//   color: white;
//   font-size: 24px;
// }

// /* Media queries for different screen sizes */
// @media (max-width: 768px) {
//   .cover-image {
//     background-size: cover;
//     background-position: center;
//   }
// }
