.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust this as per your requirement */
  margin: 0 auto;
}

.carousel-slide {
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity for the desired effect */
  color: #fff;
  padding: 20px;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease;
}

.carousel-slide:hover .text-overlay {
  opacity: 1; /* Show the text overlay on hover */
}

.text-overlay h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 16px;
  text-align: center;
}
